<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <center>
                        <h3>Modulo De Administradores</h3>
                    </center>
		<div class="row">
                    <div class="col-md-2">	
                        <a class="btn btn-block btn-primary" th:href="@{/Administradores/Add}">
                            Registrar Administrador
                        </a>
                    </div><br><br>
                </div>
                <div th:if="${administradores != null}">
                    <table class="table table-bordered table-hover" id="tabla">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">CEDULA</th>
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">APELLIDOS</th>
                                <th class="text-center">CORREO</th>
                                <th class="text-center">TELEFONO</th>
                                <th class="text-center">CARGO</th>
                                <th class="text-center">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a: ${administradores}">
                                <td th:text="${a.cedula}" class="text-center"></td>
                                <td th:text="${a.nombre}" class="text-center"></td>
                                <td th:text="${a.apellidos}" class="text-center"></td>
                                <td th:text="${a.correo}" class="text-center"></td>    
                                <td th:text="${a.telefono}" class="text-center"></td>
                                <td th:text="${a.cargo}" class="text-center"></td>
                                <th class="text-center">
                                    <a class="btn btn-info" th:href="@{/Administradores/Edit/}+${a.idUsuario}">Editar</a>
                                    <a class="btn btn-danger" th:onclick="eliminar([[${a.idUsuario}]],'/Administradores/Delete/','/Administradores')">Eliminar</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
