<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <center>
                        <h3>Modulo De Estudiantes</h3>
                    </center>
		<div class="row" th:if="${usuario.tipo == 'Administrador'}">
                    <div class="col-md-2" >	
                        <a class="btn btn-block btn-primary" th:href="@{/Estudiantes/Add}">
                            Registrar Estudiante
                        </a>
                    </div><br><br>
                </div>
                <div th:if="${estudiantes != null}">
                    <table class="table table-bordered table-hover" id="tabla">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">CEDULA</th>
                                <th class="text-center">CODIGO</th>
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">APELLIDOS</th>
                                <th class="text-center">CORREO</th>
                                <th class="text-center">TELEFONO</th>
                                <th class="text-center">PROGRAMA</th>
                                <th class="text-center">SEMESTRE</th>
                                <th class="text-center" th:if="${usuario.tipo == 'Administrador'} OR ${usuario.tipo == 'Coordinador'}">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="e: ${estudiantes}">
                                <td th:text="${e.cedula}" class="text-center"></td>
                                <td th:text="${e.codigoEstudiantil}" class="text-center"></td>
                                <td th:text="${e.nombre}" class="text-center"></td>
                                <td th:text="${e.apellidos}" class="text-center"></td>
                                <td th:text="${e.correo}" class="text-center"></td>    
                                <td th:text="${e.telefono}" class="text-center"></td>
                                <td th:text="${e.programa.nombre}" class="text-center"></td>
                                <td th:text="${e.semestre}" class="text-center"></td>
                                <th class="text-center" th:if="${usuario.tipo == 'Administrador'}">
                                    <a class="btn btn-info" th:href="@{/Estudiantes/Edit/}+${e.idUsuario}">Editar</a>
                                    <a class="btn btn-danger" th:onclick="eliminar([[${e.idUsuario}]],'/Estudiantes/Delete/','/Estudiantes')">Eliminar</a>
                                    <a class="btn btn-warning" th:href="@{/Participaciones/Estudiante/}+${e.idUsuario}">Inscripciones</a>
                                    <a class="btn btn-success" th:href="@{/Asistencias/Estudiante/}+${e.idUsuario}">Asistencias</a>
                                </th>
                                <th class="text-center" th:if="${usuario.tipo == 'Coordinador'}">
                                    <a class="btn btn-warning" th:href="@{/Participaciones/Estudiante/}+${e.idUsuario}">Inscripciones</a>
                                    <a class="btn btn-success" th:href="@{/Asistencias/Estudiante/}+${e.idUsuario}">Asistencias</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
