<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <center>
                        <h3>Modulo De Programas</h3>
                    </center>
		<div class="row">
                    <div class="col-md-2">	
                        <a class="btn btn-block btn-primary" th:href="@{/Programas/Add}">
                            Registrar Programa
                        </a>
                    </div><br><br>
                </div>
                <div th:if="${programas != null}">
                    <table class="table table-bordered table-hover" id="tabla">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">CODIGO</th>
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">SEMESTRES</th>
                                <th class="text-center">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p: ${programas}">
                                <td th:text="${p.codigoPrograma}" class="text-center"></td>
                                <td th:text="${p.nombre}" class="text-center"></td>
                                <td th:text="${p.semestresTotales}" class="text-center"></td>
                                <td class="text-center">
                                    <a class="btn btn-info" th:href="@{/Programas/Edit/}+${p.idPrograma}">Editar</a>
                                    <a class="btn btn-danger" th:onclick="eliminar([[${p.idPrograma}]],'/Programas/Delete/','/Programas')">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
