<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <center>
                        <h3>Modulo De Actividades</h3>
                    </center>
		<div class="row">
                    <div class="col-md-2">	
                        <a class="btn btn-block btn-primary" th:href="@{/Actividades/Add}">
                            Registrar Actividad
                        </a>
                    </div><br><br>
                </div>
                <div th:if="${actividades != null}">
                    <table class="table table-bordered table-hover" id="tabla">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">ID</th>
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">CATEGORIA</th>
                                <th class="text-center">ACCIONES </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a: ${actividades}">
                                <td th:text="${a.idActividad}" class="text-center"></td>
                                <td th:text="${a.nombre}" class="text-center"></td>
                                <td th:text="${a.tipo}" class="text-center"></td>
                                <td class="text-center">
                                    <a class="btn btn-info" th:href="@{/Actividades/Edit/}+${a.idActividad}">Editar</a>
                                    <a class="btn btn-danger" th:onclick="eliminar([[${a.idActividad}]],'/Actividades/Delete/','/Actividades')">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>