<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/partes :: head"></head>
    <body>
        <header th:replace="plantillas/partes :: header"></header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><br>
                    <center>
                        <h3>Modulo De Actividades Programadas</h3>
                    </center>
		<div class="row"  th:if="${usuario.tipo == 'Administrador'}">
                    <div class="col-md-2">	
                        <a class="btn btn-block btn-primary" th:href="@{/ActividadesProgramadas/Add}">
                            Programar Actividad
                        </a>
                    </div><br><br>
                </div>
                <div th:if="${actividadesProgramadas != null}">
                    <table class="table table-bordered table-hover" id="tabla">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-center">NOMBRE</th>
                                <th class="text-center">CATEGORIA</th>
                                <th class="text-center">PERIODO</th>
                                <th class="text-center">FECHA INICIO</th>
                                <th class="text-center">FECHA FIN</th>
                                <th class="text-center">ENCARGADO</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center" th:if="${usuario.tipo == 'Administrador'} OR ${usuario.tipo == 'Estudiante'} OR ${usuario.tipo == 'Encargado'}">ACCIONES </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ap: ${actividadesProgramadas}">
                                <td th:text="${ap.actividad.nombre}" class="text-center"></td>
                                <td th:text="${ap.actividad.tipo}" class="text-center"></td>
                                <td th:text="${ap.periodo}" class="text-center"></td>
                                <td th:text="${#dates.format(ap.fechaInicio,'yyyy-MM-dd')}" class="text-center"></td>
                                <td th:text="${#dates.format(ap.fechaFin,'yyyy-MM-dd')}" class="text-center"></td>
                                <td th:text="${ap.encargado.nombre}+' '+${ap.encargado.apellidos}" class="text-center"></td>
                                <td th:text="${ap.estado}" class="text-center"></td>
                                <td class="text-center" th:if="${usuario.tipo == 'Administrador'}">
                                    <a class="btn btn-primary">Horarios</a>
                                    <a class="btn btn-warning" th:href="@{/Participaciones/Actividad/}+${ap.idActividadProgramada}">Inscripciones</a>
                                    <a class="btn btn-success" th:href="@{/Asistencias/Actividad/}+${ap.idActividadProgramada}">Asistencias</a>
                                    <a class="btn btn-info" th:href="@{/ActividadesProgramadas/Edit/}+${ap.idActividadProgramada}">Editar</a>
                                    <a class="btn btn-danger" th:onclick="eliminar([[${ap.idActividadProgramada}]],'/ActividadesProgramadas/Delete/','/ActividadesProgramadas')">Eliminar</a>
                                </td>
                                <td class="text-center" th:if="${usuario.tipo == 'Estudiante'}">
                                    <a class="btn btn-info" th:onclick="inscribirse([[${ap.idActividadProgramada}]],'/Participaciones/Enrol/','/ActividadesProgramadas')">Inscribirse</a>
                                    <a class="btn btn-success">Horarios</a>
                                </td>
                                <td class="text-center" th:if="${usuario.tipo == 'Encargado'}">
                                    <a class="btn btn-success">Horarios</a>
                                    <a class="btn btn-warning" th:href="@{/Participaciones/Actividad/}+${ap.idActividadProgramada}">Inscripciones</a>
                                    <a class="btn btn-success" th:href="@{/Asistencias/Actividad/}+${ap.idActividadProgramada}">Asistencias</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
